<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <context:component-scan base-package="cn.wuaijing">
 <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
</context:component-scan>
    <bean id="weatherURL" class="cn.wuaijing.bean.WeatherURL">
        <property name="host" value="https://iweather.market.alicloudapi.com"></property>
        <property name="appCode" value="1"></property>
        <property name="path" value="/address"></property>
        <property name="method" value="GET"></property>
        <property name="header" >
            <map>
                <entry key="Authorization" value="APPCODE 227a5b3ffab7404d90f3749d8d920f53"></entry>
            </map>
        </property>
        <property name="query">
            <map>
                <entry key="area" value="蓬江区"></entry>
                <entry key="city" value="江门"></entry>
                <entry key="needday" value="1"></entry>
                <entry key="prov" value="广东"></entry>
            </map>
        </property>
    </bean>
      <bean id="accessToken" class="cn.wuaijing.bean.AccessToken">
          <property name="host" value="${wechat.host}"></property>
          <property name="path" value="${wechat.path}"></property>
          <property name="grant_type" value="${wechat.grant_type}"></property>
          <property name="secret" value="${wechat.secret}"></property>
          <property name="appid" value="${wechat.appid}"></property>
      </bean>
    <context:property-placeholder location="classpath:properties/accessToken.properties" order="1" ignore-unresolvable="true"></context:property-placeholder>
    <import resource="classpath:spring-redis.xml"></import>
    <import resource="classpath:spring-quartz-config.xml"></import>
</beans>